.container {
    font-family: 'Kanit';
    width: 100vw;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 250px;
    height: 50px;
    justify-content: center;
}

label {
    color: rgb(57, 2, 109);
}

input {
    padding-left: 200px;
    margin-bottom: 25px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.7px;
    word-spacing: 0.5px;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    background-color: rgb(173, 244, 220);
}

button {
    padding-left: 150px;
    padding-right: 139px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 7px;
    background-color: aquamarine;
    color: blueviolet;
    font-family: 'Kanit';
    font-size: 17px;
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1.7px rgb(86, 0, 89);
    opacity: 0.3;
}

h3 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Kanit';
    word-spacing: 3px;
    font-size: 50px;
    margin-top: 50px;
    color:rgb(12, 2, 2);
    padding-left: 100px;
    padding-right: 100px;
    line-height: 77px;
}

h1 {
    font-family: 'Press Start 2P';
    font-size: 50px;
    color: rgb(57, 2, 109);
    letter-spacing: 1px;
}

.story-h1 {
    text-align: center;
    font-family: 'Press Start 2P';
   
}

iframe {
    border-radius: 97px;
}
    
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

