<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlib Story</title>
    <link rel="stylesheet" href="/static/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="story-container">
    <h1 class="story-h1">YOUR STORY <iframe src="https://giphy.com/embed/3o7btUNHIlp5Vt9MNW" width="200" height="100" frameBorder="0" ></iframe></h1>
    <h3>{{ text }}</h3>
    </div>
</body>
</html>